# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

*                                             @opendotengine/buildsystem

# Core

/core/                                        @opendotengine/core
/core/crypto/                                 @opendotengine/network
/core/debugger/                               @opendotengine/debugger
/core/extension/                              @opendotengine/gdextension
/core/input/                                  @opendotengine/input

# Doc

/doc/                                         @opendotengine/documentation
**/doc_classes/                               @opendotengine/documentation

# Drivers

## Audio
/drivers/alsa/                                @opendotengine/audio
/drivers/alsamidi/                            @opendotengine/audio
/drivers/coreaudio/                           @opendotengine/audio
/drivers/coremidi/                            @opendotengine/audio
/drivers/pulseaudio/                          @opendotengine/audio
/drivers/wasapi/                              @opendotengine/audio
/drivers/winmidi/                             @opendotengine/audio
/drivers/xaudio2/                             @opendotengine/audio

## Rendering
/drivers/d3d12/                               @opendotengine/rendering
/drivers/dummy/                               @opendotengine/rendering
/drivers/gles3/                               @opendotengine/rendering
/drivers/spirv-reflect/                       @opendotengine/rendering
/drivers/vulkan/                              @opendotengine/rendering

## OS
/drivers/unix/                                @opendotengine/_platforms
/drivers/windows/                             @opendotengine/windows

## Misc
/drivers/png/                                 @opendotengine/import

# Editor

/editor/*debugger*                            @opendotengine/debugger
/editor/gui/                                  @opendotengine/usability @opendotengine/gui-nodes
/editor/icons/                                @opendotengine/usability
/editor/import/                               @opendotengine/import
/editor/plugins/*2d_*.*                       @opendotengine/2d-editor
/editor/plugins/*3d_*.*                       @opendotengine/3d-editor
/editor/plugins/script_*.*                    @opendotengine/script-editor
/editor/plugins/*shader*.*                    @opendotengine/shaders
/editor/themes/                               @opendotengine/usability @opendotengine/gui-nodes
/editor/code_editor.*                         @opendotengine/script-editor
/editor/*dock*.*                              @opendotengine/docks
/editor/*shader*.*                            @opendotengine/shaders

# Main

/main/                                        @opendotengine/core

# Misc

/misc/                                        @opendotengine/buildsystem
/misc/extension_api_validation/               @opendotengine/gdextension @opendotengine/dotnet

# Modules

## Audio (+ video)
/modules/interactive_music/                   @opendotengine/audio
/modules/interactive_music/doc_classes/       @opendotengine/audio @opendotengine/documentation
/modules/minimp3/                             @opendotengine/audio
/modules/minimp3/doc_classes/                 @opendotengine/audio @opendotengine/documentation
/modules/ogg/                                 @opendotengine/audio
/modules/ogg/doc_classes/                     @opendotengine/audio @opendotengine/documentation
/modules/theora/                              @opendotengine/audio
/modules/theora/doc_classes/                  @opendotengine/audio @opendotengine/documentation
/modules/vorbis/                              @opendotengine/audio
/modules/vorbis/doc_classes/                  @opendotengine/audio @opendotengine/documentation

## Import
/modules/astcenc/                             @opendotengine/import
/modules/basis_universal/                     @opendotengine/import
/modules/betsy/                               @opendotengine/import
/modules/bmp/                                 @opendotengine/import
/modules/cvtt/                                @opendotengine/import
/modules/dds/                                 @opendotengine/import
/modules/etcpak/                              @opendotengine/import
/modules/fbx/                                 @opendotengine/import
/modules/fbx/doc_classes/                     @opendotengine/import @opendotengine/documentation
/modules/gltf/                                @opendotengine/import
/modules/gltf/doc_classes/                    @opendotengine/import @opendotengine/documentation
/modules/gltf/tests/                          @opendotengine/import @opendotengine/tests
/modules/hdr/                                 @opendotengine/import
/modules/jpg/                                 @opendotengine/import
/modules/ktx/                                 @opendotengine/import
/modules/squish/                              @opendotengine/import
/modules/svg/                                 @opendotengine/import
/modules/tga/                                 @opendotengine/import
/modules/tinyexr/                             @opendotengine/import
/modules/webp/                                @opendotengine/import

## Network
/modules/enet/                                @opendotengine/network
/modules/enet/doc_classes/                    @opendotengine/network @opendotengine/documentation
/modules/mbedtls/                             @opendotengine/network
/modules/mbedtls/tests/                       @opendotengine/network @opendotengine/tests
/modules/multiplayer/                         @opendotengine/network
/modules/multiplayer/doc_classes/             @opendotengine/network @opendotengine/documentation
/modules/upnp/                                @opendotengine/network
/modules/upnp/doc_classes/                    @opendotengine/network @opendotengine/documentation
/modules/webrtc/                              @opendotengine/network
/modules/webrtc/doc_classes/                  @opendotengine/network @opendotengine/documentation
/modules/websocket/                           @opendotengine/network
/modules/websocket/doc_classes/               @opendotengine/network @opendotengine/documentation

## Physics
/modules/opendot_physics_2d/                    @opendotengine/physics
/modules/opendot_physics_3d/                    @opendotengine/physics

## Rendering
/modules/glslang/                             @opendotengine/rendering
/modules/lightmapper_rd/                      @opendotengine/rendering
/modules/meshoptimizer/                       @opendotengine/rendering
/modules/raycast/                             @opendotengine/rendering
/modules/vhacd/                               @opendotengine/rendering
/modules/xatlas_unwrap/                       @opendotengine/rendering

## Scripting
/modules/gdscript/                            @opendotengine/gdscript
/modules/gdscript/doc_classes/                @opendotengine/gdscript @opendotengine/documentation
/modules/gdscript/icons/                      @opendotengine/gdscript @opendotengine/usability
/modules/gdscript/tests/                      @opendotengine/gdscript @opendotengine/tests
/modules/jsonrpc/                             @opendotengine/gdscript @opendotengine/network
/modules/jsonrpc/tests                        @opendotengine/gdscript @opendotengine/network @opendotengine/tests
/modules/mono/                                @opendotengine/dotnet
/modules/mono/doc_classes/                    @opendotengine/dotnet @opendotengine/documentation
/modules/mono/icons/                          @opendotengine/dotnet @opendotengine/usability

## Text
/modules/freetype/                            @opendotengine/buildsystem
/modules/msdfgen/                             @opendotengine/buildsystem
/modules/text_server_adv/                     @opendotengine/gui-nodes
/modules/text_server_adv/doc_classes/         @opendotengine/gui-nodes @opendotengine/documentation
/modules/text_server_fb/                      @opendotengine/gui-nodes
/modules/text_server_fb/doc_classes/          @opendotengine/gui-nodes @opendotengine/documentation

## XR
/modules/camera/                              @opendotengine/xr
/modules/mobile_vr/                           @opendotengine/xr
/modules/mobile_vr/doc_classes/               @opendotengine/xr @opendotengine/documentation
/modules/openxr/                              @opendotengine/xr
/modules/openxr/doc_classes/                  @opendotengine/xr @opendotengine/documentation
/modules/webxr/                               @opendotengine/xr
/modules/webxr/doc_classes/                   @opendotengine/xr @opendotengine/documentation

## Misc
/modules/csg/                                 @opendotengine/3d-nodes
/modules/csg/doc_classes/                     @opendotengine/3d-nodes @opendotengine/documentation
/modules/csg/icons/                           @opendotengine/3d-nodes @opendotengine/usability
/modules/navigation/                          @opendotengine/navigation
/modules/gridmap/                             @opendotengine/3d-nodes
/modules/gridmap/doc_classes/                 @opendotengine/3d-nodes @opendotengine/documentation
/modules/gridmap/icons/                       @opendotengine/3d-nodes @opendotengine/usability
/modules/noise/                               @opendotengine/core
/modules/noise/doc_classes/                   @opendotengine/core @opendotengine/documentation
/modules/noise/icons/                         @opendotengine/core @opendotengine/usability
/modules/noise/tests/                         @opendotengine/core @opendotengine/tests
/modules/regex/                               @opendotengine/core
/modules/regex/doc_classes/                   @opendotengine/core @opendotengine/documentation
/modules/regex/icons/                         @opendotengine/core @opendotengine/usability
/modules/regex/tests/                         @opendotengine/core @opendotengine/tests
/modules/zip/                                 @opendotengine/core
/modules/zip/doc_classes/                     @opendotengine/core @opendotengine/documentation

# Platform

/platform/android/                            @opendotengine/android
/platform/android/doc_classes/                @opendotengine/android @opendotengine/documentation
/platform/ios/                                @opendotengine/ios
/platform/ios/doc_classes/                    @opendotengine/ios @opendotengine/documentation
/platform/linuxbsd/                           @opendotengine/linux-bsd
/platform/linuxbsd/doc_classes/               @opendotengine/linux-bsd @opendotengine/documentation
/platform/macos/                              @opendotengine/macos
/platform/macos/doc_classes/                  @opendotengine/macos @opendotengine/documentation
/platform/web/                                @opendotengine/web
/platform/web/doc_classes/                    @opendotengine/web @opendotengine/documentation
/platform/windows/                            @opendotengine/windows
/platform/windows/doc_classes/                @opendotengine/windows @opendotengine/documentation

# Scene

/scene/2d/                                    @opendotengine/2d-nodes
/scene/2d/physics/                            @opendotengine/2d-nodes @opendotengine/physics
/scene/3d/                                    @opendotengine/3d-nodes
/scene/3d/physics/                            @opendotengine/3d-nodes @opendotengine/physics
/scene/animation/                             @opendotengine/animation
/scene/audio/                                 @opendotengine/audio
/scene/debugger/                              @opendotengine/debugger
/scene/gui/                                   @opendotengine/gui-nodes
/scene/main/                                  @opendotengine/core
/scene/resources/font.*                       @opendotengine/gui-nodes
/scene/resources/text_line.*                  @opendotengine/gui-nodes
/scene/resources/text_paragraph.*             @opendotengine/gui-nodes
/scene/resources/visual_shader*.*             @opendotengine/shaders
/scene/theme/                                 @opendotengine/gui-nodes
/scene/theme/icons/                           @opendotengine/gui-nodes @opendotengine/usability

# Servers

/servers/audio*                               @opendotengine/audio
/servers/camera*                              @opendotengine/xr
/servers/display_server.*                     @opendotengine/_platforms
/servers/navigation_server*.*                 @opendotengine/navigation
/servers/physics*                             @opendotengine/physics
/servers/rendering*                           @opendotengine/rendering
/servers/text_server.*                        @opendotengine/gui-nodes
/servers/xr*                                  @opendotengine/xr

# Tests

/tests/                                       @opendotengine/tests

# Thirdparty

/thirdparty/                                  @opendotengine/buildsystem

# Buildsystem (After everything to catch all)

*.py                                          @opendotengine/buildsystem
SConstruct                                    @opendotengine/buildsystem
SCsub                                         @opendotengine/buildsystem
